[user]
	name = Kirill Ivanov
	email = iwwwanow.work@yandex.ru
	signingkey = 00D1634FC715701A2FEC7AF7C73B3577AA88A01A
[core]
	editor = nvim
[commit]
	gpgsign = true
[push]
	default = current
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
