[user]
	name = Kirill Ivanov
	email = ik@atls.team
	signingkey = A1758AF11633B4A6
[core]
	editor = nvim
[commit]
	gpgsign = true
[push]
	default = current
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
